$green              :#58e1c1;
$blue               :#51ddfc;
$white              :#ffffff;
$grey               :#777;
$black              :#000000;




$color-border        :$green;
$color-link          :$blue;
$color-text-light    :$white;
$color-text-base     :$grey;
$color-text-dark     :$black;



$break-m           : 768px;